/*.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

@media only screen and (min-width: 601px) {
    .container {
        width: 85%;
    }
}

@media only screen and (min-width: 993px) {
    .container {
        width: 85%;
    }
}*/

/*Caurusel anchura*/
.carousel {
    max-height: 400px;
}

/*ScrollFire*/
.renglo1,
.renglon2,
.renglon3,
.renglon4 {
    opacity: 0;
}

/*Fin Pagina Inicio*/

/*Pagina tratamientos*/
/*Necesario para alinear el boton mas informacion*/
#parrafo {
    text-align: justify;
    text-justify: inter-word;
    display: inherit;
}

/*Necesario para alinear el boton mas informacion*/
#boton-dentro-del-parrafo {
    display: inherit;
}

#boton-dentro-del-parrafo .btn-flat {
    padding-left: 0px;
    padding-right: 0px;
}

#saludo {
    font-family: 'Sacramento', cursive;
    font-size: 23px;
}

/*Mayusculas a minusculas*/
.botonMasInformacion {
    text-transform: none;
}

/*Fin tratamientos*/
/*Modal pantalla completa
.modal.open {
    width: 100%;
    max-height: 100%;
    height: 100%;
    top: 0 !important;
}*/


/*Quita el espacio entre cada elemento seccion*/
header,
footer,
section {
    overflow: auto;
}

/*Seccion Clinicas*/
/*Alineacion de los iconos*/
.inline-icon {
    font-size: inherit;
    vertical-align: bottom;
}

/*CSeccion Medicos*/

/*Colleption*/
.collection .collection-item.active {
    background-color: #43a2e2;
}

.collection .collection a.collection-item {

    color: #0db8d6;
}

.collection a.collection-item {
    color: #2673a6;
}