/*Quita el espacio entre cada elemento seccion*/
header,
footer,
section {
    overflow: auto;
}
/*Estilo para la imagen del logo*/
#imagenLogo img{
    padding: 5px 5px; /*Arriba, abajo - Izquierda, Derecha*/
}
header > .container > .row{
    margin-top: 1%;
    margin-bottom: 0%;
}
/*--Inicio pagina Principal--*/
/*(Principal) Tarjetas de ofertas*/
.renglon1 >.col > .card-panel{
    height: 250px;
}
/*(Principal) Caurusel de tarjetas (anchura)*/
.carousel {
    max-height: 400px;
}
/*(Principal) Anchura del panel de tarjetas de testimonios*/
.card-panel{
    height: 176px;
}
/*Comportamiento en vista movil (Principal)*/
@media only screen and (max-width: 601px) {
    /*Ajust on Principal page*/
    .renglon3{
        display: flex;  flex-direction: column;
    }
    #col1{
        order: 2;
    }
    #col2{
        order: 1;
    }

}
/*Inicio del Header*/
/*Inicio Menu de navegacion*/
  #boton-registro:hover{
    color:rgba(0, 89, 255, 0.918);
  }
  /* label focus color */
.input-field input[type=password]:focus+label {
    color:rgba(0, 89, 255, 0.918) !important;
}
.input-field input[type=email]:focus+label {
    color:rgba(0, 89, 255, 0.918) !important;
}
i.material-icons.prefix.active{
    color:rgba(0, 89, 255, 0.918);
}
/*Succes input correct line color*/
.input-field input[type].valid,
.input-field input[type].valid:focus,
.input-field textarea.valid,
.input-field textarea.valid:focus {
    border-bottom: 1px solid rgba(33, 149, 243);
    box-shadow: 0 1px 0 0 rgba(33, 149, 243);
}
 /*Succes input correct label form color*/   
input:not([type]).valid+label:after, 
input:not([type]):focus.valid+label:after, 
input[type=text]:not(.browser-default).valid+label:after,
 input[type=text]:not(.browser-default):focus.valid+label:after, 
 input[type=password]:not(.browser-default).valid+label:after, 
 input[type=password]:not(.browser-default):focus.valid+label:after, 
 input[type=email]:not(.browser-default).valid+label:after, 
 input[type=email]:not(.browser-default):focus.valid+label:after, 
 input[type=url]:not(.browser-default).valid+label:after, 
 input[type=url]:not(.browser-default):focus.valid+label:after, 
 input[type=time]:not(.browser-default).valid+label:after, 
 input[type=time]:not(.browser-default):focus.valid+label:after, 
 input[type=date]:not(.browser-default).valid+label:after, 
 input[type=date]:not(.browser-default):focus.valid+label:after,
 input[type=datetime]:not(.browser-default).valid+label:after, 
 input[type=datetime]:not(.browser-default):focus.valid+label:after, 
 input[type=datetime-local]:not(.browser-default).valid+label:after, 
 input[type=datetime-local]:not(.browser-default):focus.valid+label:after, 
 input[type=tel]:not(.browser-default).valid+label:after,
 input[type=tel]:not(.browser-default):focus.valid+label:after,
 input[type=number]:not(.browser-default).valid+label:after,
 input[type=number]:not(.browser-default):focus.valid+label:after,
 input[type=search]:not(.browser-default).valid+label:after,
 input[type=search]:not(.browser-default):focus.valid+label:after,
 textarea.materialize-textarea.valid+label:after,
 textarea.materialize-textarea:focus.valid+label:after,
 .select-wrapper.valid+label:after{
    color: rgba(33, 149, 243);
}

/*Fin menu navegacion*/
/*Fin del Header*/
/*Inicio Cuerpo*/
/*Inicio Titulo de las secciones*/
.seccion-titulo{
    padding: 1% !important;
}
.seccion-titulo h4{
    font-family: Josefin,sans-serif;;
    font-size: 26px;
    font-weight: bold;
    padding: 1%;
    margin: 0%;
}
.seccion-titulo span{
    font-family: Tauri, sans-serif;;
    font-size: 20px;
    padding: 1%;
    margin: 0%;
}

/*Fin Titulo de las secciones*/

/*Fin del Cuerpo*/
/*Inicio de los Estilos para el Login*/
#formulario-login .input-field, p{
    margin: 0%;
}
#formulario-login .row{
    margin: 5%;
}
[type="checkbox"]:checked+label:before {
    border-right: 2px solid  rgba(0, 89, 255, 0.918);
    border-bottom: 2px solid rgba(0, 89, 255, 0.918);
}
/*Fin para los estilos del login*/
/*Caracteristicas de los estilos del Modal GLobal*/
.modal{
    border-radius: 1%;
}
/*Fin de las caracteristicas del modal*/

/*Incio de las caracteristicas del boton flotante del chat*/
@media only screen and (max-width: 601px) {  /*NOT WORKS ON PLUGIN THIS*/
    .mylivechat_buttonround {
        position: relative !important;
        top:0px !important;
        bottom: 100px !important;
        
        background-color: rgb(224, 20, 20) !important;
    }


}
/*Fin de las caracteristicas del boton flotante del chat*/

/*ESTILOS para el formulario dezplegable*/
.login_box {
    display: none;
    position: relative;
    background: white;
    border-radius: 6px;
    width: 300px;
    float: right;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 10px;
    margin-top: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
.login_box:after, .login_box:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.login_box:after {
	border-color: rgba(249, 249, 249, 0);
	border-bottom-color: white;
	border-width: 17px;
	margin-left: 80px;
}

/*Size of font*/
.contrasenia-olvidada{
    font-size: 80%;
}
.contrasenia-olvidada a:hover{
        text-decoration: underline;
}