/*Quita el espacio entre cada elemento seccion*/
header,
footer,
section {
    overflow: auto;
}
/*--Inicio pagina Principal--*/
/*(Principal) Tarjetas de ofertas*/
.renglon1 >.col > .card-panel{
    height: 250px;
}
/*(Principal) Caurusel de tarjetas (anchura)*/
.carousel {
    max-height: 400px;
}
/*(Principal) Anchura del panel de tarjetas de testimonios*/
.card-panel{
    height: 176px;
}
/*Comportamiento en vista movil (Principal)*/
@media only screen and (max-width: 601px) {
    /*Ajust on Principal page*/
    .renglon3{
        display: flex;  flex-direction: column;
    }
    #col1{
        order: 2;
    }
    #col2{
        order: 1;
    }

}
/*Inicio del Header*/
/*Inicio Menu de navegacion*/
  #boton-registro:hover{
    color:#0f1ccf;
  }
  /* label focus color */
.input-field input[type=password]:focus+label {
    color:rgb(47, 50, 255) !important;
}
.input-field input[type=email]:focus+label {
    color:rgb(47, 50, 255) !important;
}
/*Fin menu navegacion*/
/*Fin del Header*/
/*Cuerpo*/
/*Inicio Titulo de las secciones*/
.seccion-titulo{
    padding: 1% !important;
}
.seccion-titulo h4{
    font-family: Josefin,sans-serif;;
    font-size: 26px;
    font-weight: bold;
    padding: 1%;
    margin: 0%;
}
.seccion-titulo span{
    font-family: Tauri, sans-serif;;
    font-size: 20px;
    padding: 1%;
    margin: 0%;
}
/*Fin Titulo de las secciones*/
/*Cuerpo*/

/*Caracteristicas de los estilos del Modal*/
.modal{
    border-radius: 1%;
}