/*Quita el espacio entre cada elemento seccion*/
header,
footer,
section {
    overflow: auto;
}

#sidenav-overlay{
    z-index: 1;
}
a.brand-logo img{
    height: 63px !important;
}

#sidenav-navegation{
    top: 64px;
    height: auto;
}