header,
footer,
section {
    overflow: auto;
}
/*Comportamiento en vista movil Seccion (Tratamienos) en vista mobil*/
@media only screen and (max-width: 601px) {
    /*Ajust card position on tratamientos view*/
    .renglon-ajustar{
        display: flex;  
        flex-direction: column;
    }
    .col-one{
        order: 2;
    }
    .col-two{
        order: 1;
    }
}
/*Inicio Header*/

/*Fin Header*/
/*Inicio Menu de navegacion*/
  #boton-registro:hover{
    color:#0f1ccf;
  }
/*Fin menu navegacion*/

/*Inicio del Cuerpo*/
/*Tamaño de la imagen parallax como fondo*/
.parallax-container {
  height: 200px;
}

.parallax img {
  z-index: -1;
  opacity: 0.5;
}
.parallax-container:hover {
  opacity: 1.0;
}
.parallax h1{
  margin-top: 5%;
  margin-bottom: 0%;
  padding: 10px;
  font-size: 36px;
  font-weight: bold;
}
.parallax span{
  padding-top: 0px;
  font-size: 26px;
}
/*Card Medico*/
main .row{
    margin-top: 0%;
    margin-bottom: 0%;
}
/*Incio de Tratamiento*/
.section-tratamientos .card{
    border-radius: 2%;
}
.card .card-image img{
    border-radius: 2%;
}
.card .card-title{
    color: #142b3b !important;
    text-shadow: 4px 1px 3px rgb(73, 70, 60);
}
/*Saludo del medico*/
#saludo {
    font-family: 'Sacramento', cursive;
    font-size: 23px;
    font-weight: bold;
}
/*Detalles tratamiento*/
.section-tratamientos .card-panel{
    height: auto;
    border-radius: 2%;
}

/*Necesario para alinear el boton mas informacion*/
#parrafo {
    text-align: justify;
    text-justify: inter-word;
    display: inherit;
}

/*Necesario para alinear el boton mas informacion*/
#boton-dentro-del-parrafo {
    display: inherit;
}

#boton-dentro-del-parrafo .btn-flat {
    padding-left: 0px;
    padding-right: 0px;
}

/*Mayusculas a minusculas*/
.botonMasInformacion {
    text-transform: none;
    color: #f0ddaa;
}

#boton-dentro-del-parrafo a:link {
  text-decoration: none;
}

#boton-dentro-del-parrafo a:visited {
  text-decoration: none;
}

#boton-dentro-del-parrafo a:hover {
  text-decoration: underline;
}

#boton-dentro-del-parrafo a:active {
  text-decoration: underline;
}
/*Eliminar margenes para ocultar los detalles de los tratamientos*/
.colapsoTratamiento{    
    margin-bottom: 0px;
    margin-top: 0px;
    border-top-width: 0px;
}

/*Fin de Tratamiento*/

/*Anuncio Mensaje llamar*/
.section-llamar .col{
    padding: 15px;
}
.section-llamar h5{
    margin: 0%;
    padding: 15px;
    padding-bottom: 0%;
    font-family: Josefin,sans-serif;
    font-size: 24px;
}
#boton-llamada{
    padding-bottom: 30px;
}
#boton-llamada a:hover {
  box-shadow: 1px 6px 10px rgba(0, 0, 0, 0.973);
}
/*Fin del Cuerpo*/

/*Caracteristicas de los estilos del Modal*/
.modal{
    border-radius: 1%;
}