/*.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}
@media only screen and (min-width: 601px) {
    .container {
        width: 85%;
    }
}
@media only screen and (min-width: 993px) {
    .container {
        width: 85%;
    }
}*/

/*--Inicio pagina Principal--*/
/*(Principal) Tarjetas de ofertas*/
.renglon1 >.col > .card-panel{
    height: 250px;
}
/*(Principal) Caurusel de tarjetas (anchura)*/
.carousel {
    max-height: 400px;
}
/*(Principal) Anchura del panel de tarjetas de testimonios*/
.card-panel{
    height: 176px;
}

/*Comportamiento en vista movil Seccion Ventajas (Principal)-(Tratamienos)*/
@media only screen and (max-width: 601px) {
    /*Ajust card position on tratamientos view*/
    .renglon-ajustar{
        display: flex;  
        flex-direction: column;
    }
    .col-one{
        order: 2;
    }
    .col-two{
        order: 1;
    }

}
/*--Fin Pagina Principal--*/




/*--Pagina tratamientos--*/

/*Inicio fondo tratamientos*/
/*.section-tratamientos{
    background-image: url("../img/wood-pattern-1920x1080.png");
   object-fit: cover;
   object-position: 100% 0;
   height: 100%;
}*/
/*Fin fondo tratamientos*/

/*Tamaño de la imagen parallax como fondo*/
.parallax-container {
  height: 200px;
}

.parallax img {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

.parallax img:hover {
  opacity: 1.0;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}
main .row{
    margin-top: 0%;
    margin-bottom: 0%;
}
.section-tratamientos .card{
    border-radius: 2%;
}
.card .card-image img{
    border-radius: 2%;
}
/* .card .card-title{
    color: #142b3b !important;
    text-shadow: 6px 1px 3px rgb(233, 178, 27);
} */
.section-tratamientos .card-panel{
    height: auto;
    border-radius: 2%;
}



/*Necesario para alinear el boton mas informacion*/
#parrafo {
    text-align: justify;
    text-justify: inter-word;
    display: inherit;
}

/*Necesario para alinear el boton mas informacion*/
#boton-dentro-del-parrafo {
    display: inherit;
}

#boton-dentro-del-parrafo .btn-flat {
    padding-left: 0px;
    padding-right: 0px;
}

#saludo {
    font-family: 'Sacramento', cursive;
    font-size: 23px;
    font-weight: bold;
}

/*Mayusculas a minusculas*/
.botonMasInformacion {
    text-transform: none;
    color: #f0ddaa;
}

#boton-dentro-del-parrafo a:link {
  text-decoration: none;
}

#boton-dentro-del-parrafo a:visited {
  text-decoration: none;
}

#boton-dentro-del-parrafo a:hover {
  text-decoration: underline;
}

#boton-dentro-del-parrafo a:active {
  text-decoration: underline;
}
/*--Fin tratamientos*/

/*Quita el espacio entre cada elemento seccion*/
header,
footer,
section {
    overflow: auto;
}

/*--Seccion Clinicas*/
/*Alineacion de los iconos*/
.inline-icon {
    font-size: inherit;
    vertical-align: bottom;
}

/*--Seccion Medicos*/

/*Colleption*/
.collection .collection-item.active {
    background-color: #43a2e2;
}

.collection .collection a.collection-item {

    color: #0db8d6;
}

.collection a.collection-item {
    color: #2673a6;
}

/*Caracteristicas de los estilos del Modal*/
#formulario-cita .container{
    width: 80%;
}
.modal{
    border-radius: 1%;
    position: fixed;
    left: 0;
    right: 0;
    background-color: #fafafa;
    background-image: linear-gradient( 270deg, #eee 50%, #eee 0%, #beccf8 50%, #f4f7f0 45%);
    padding: 0;
    max-height: 90%;
    width: 55%;
    margin: auto;
    will-change: top, opacity;
}
/*Date picker*/
.modal .datepicker-modal{ /*Ancho del modal*/
    width: fit-content;
}
.datepicker-date-display{ /*Background color Fecha*/
    background-color: cornflowerblue;
}
.datepicker-table td.is-selected{ /*Color Fecha seleccionada*/
  background-color: cornflowerblue;  
}
.datepicker-table td.is-today{ /*Color texto Hoy en el calendario*/
    color:teal;
}
.datepicker-cancel, .datepicker-done{ /*Color del texto cancelar y done*/
    color:cornflowerblue;
}
/*Time picker*/
.modal .timepicker-modal{ /*Ancho del calendario*/
    width: auto;
}
.timepicker-digital-display{ /*Background color del relo*/
    background-color:cornflowerblue;
}
/*Color de la manecilla y manecilla seleccionada*/
.timepicker-canvas line {
    stroke: cornflowerblue;
}
.timepicker-canvas-bg, .timepicker-canvas-bearing {
    fill: cornflowerblue;
}
.timepicker-close{ /*Texto Cancelar y Ok*/
    color: cornflowerblue;
}
/*Mapa*/
.maps, .maps .col{
    padding: 0px;
}
/*svg en el footer*/
.svg-wave-container{
    height: 100px;
    background: #f5f5f5;
    overflow: hidden;
}
.svg-wave-container> svg{
    width: 100%;
    display: block;
}