
.error{
    min-height: 100vh;
}
.container-error h2{
	  font-size: 50px;
	  display: inline-block;
	  padding-right: 12px;
	  animation: type .5s alternate infinite;
}

@keyframes type{
	  from{box-shadow: inset -3px 0px 0px rgb(243, 10, 10);}
	  to{box-shadow: inset -3px 0px 0px transparent;}
}