.page-footer .container .offset-l5 > *{
    text-align: right;
}
/*Liks del footer*/
#idListaLinksFooter li a a {
    text-decoration: none;
}

#idListaLinksFooter li a:hover {
    background:
        linear-gradient(to right,
        var(--mainColor) 0%,
        var(--mainColor) 5px,
        transparent);
}

/*Iconos redes sociales*/
#social{
    text-align: right;
}
#social a {
    padding: 0px 10px;
    margin-top: 5px;
    margin-left: 5px;
    word-wrap: normal;
    display: inline-block;
}

/*icons hover*/
.fa-facebook:hover{
    color: #3b5998;
}
.fa-instagram:hover{
    color:#bc2a8d;
}
.fs-twitter:hover{
    color: #00aced;
}