/*Logo*/
header>.row:nth-of-type(1){
  margin-bottom:0px;
}
.logo-img-container{
  padding: 15.250px !important;
}
.logo{
  background-color:#f4f7f0;
  border-radius:50%;
  padding: 1.5rem !important;
  border-style: solid;
  border-color: rgb(2, 48, 146);
  border-width: 3px;
}
.logo img{
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
}
.logo img:hover{
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
/*Titulo y logo*/
.titulo h1{
  font-family: 'Lato', sans-serif;
  font-size: 3.3rem;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 0px;
}
.eslogan{
  font-family: 'Lato', sans-serif;
}

.link {
  margin-left: 0.9rem;
  font-family: 'K2D', sans-serif;
  display: inline-block;
  position: relative;
}

.link span {
  color: #707070;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  padding: 0 5px;
  display: block;
  transition: all 0.3s cubic-bezier(0.815, 1.400, 0.600, 0.180);
}

.link:hover span {
  color: #66a3ff;
}

.link:before,
.link:after {
  content: '';
  height: 3px;
  width: 0;
  background-color: #66a3ff;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 0.3s cubic-bezier(0.815, 1.400, 0.600, 0.180);
}

.link:after {
  left: auto;
  right: 0;
}

.link:hover:before,
.link:hover:after {
  width: 50%;
}
/*Telefono*/
.right span#telefono {
    font-size: 1.3rem;
    font-family: 'Tauri', sans-serif;
    font-weight:bold;
}

@media only screen and (max-width: 767px) {
  .link {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 601px) {
    /*Titulo y logo*/
  .titulo h1 {
      font-size: 2.5rem;
  }
}
@media only screen and (min-width: 768px){

}
@media only screen and (max-width: 990px) {
  /*Links superiores del Header*/
  #links-superiores li {
    display: inline;
    font-size: 1.150rem;
  }
}
@media only screen and (min-width: 1200px) {
  /*Titulo y logo*/
  .titulo h1 {
      font-size: 2.8rem;
  }
  /*Links superiores del Header*/
  #links-superiores li {
    display: inline;
    font-size: 1rem;
  }

}
@media only screen and (min-width: 1400px) {
  /*Links superiores del Header*/
  #links-superiores li {
    display: inline;
    font-size: 1.178rem;
  }
}
/*Fin links superiores*/

/*Quita el espcio entre la navBar y el Slider*/
#navegacionPrincipal {
  margin-bottom: 0%;
}
.navbar{ /*corrige error pulsante del navbar al hacer scrolling*/
  height: 64px;
}

/*Contenedor despues del menu principal*/
.slider{
  background-color: #f5f5f5;
  height: 256px !important;
}

/*Opacidad en las imagenes del slider*/
.slides li::before{
  content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,.55);
}
.slides li > * {
    z-index: 1;
}
/*Propiedades del Slider*/
.slider .indicators {
  bottom: 25px;
  z-index: 10;
}
.slider .indicators .indicator-item.active {
  background-color: #66ccff;
}

/*Manda al frente el contenido del parallax*/
.parallax-container{
z-index: 1;
}

/*Corrige el error del navbar  de la sobrposicion de las imagenes*/
.tarjetaPushpin {
  z-index: 10;
}
/*Slider Titles*/
.slider h3{
  font-size: 2rem;
}
.slider h5{
  font-size: 1.5rem;
}
.caption .btn{
  border-radius: 13px;
}
/*search-box*/
.search-box{
    right: 50px;
    margin-top: 10px;
}
.search-box nav{
    height: 44px;
}
/*align middle icons in searchbox */
nav .input-field label {
    top: -50%;
    left: 3%;
}
nav .label-icon.active .material-icons {
	  color: #039be5;
}
.search-box .close{
    margin-top: -10px !important;
    font-size: 1.5rem;
}
.search-box nav{
    border-radius: 20px;
    background-color: #8faed1;
}
.search-box input[type=search]{
  color: whitesmoke;
}
.search-box input[type=search]:focus{
    border-radius: 20px;
}

/*search-box en vista movil*/
@media only screen and (max-width: 601px) {
  .search-box{
    padding-left: 25px;
    padding-right: 10px;
  }
/*Aliniacion a la mitad en searchbox */
  nav .input-field label {
      top: -10%;
      left: 3%;
  }
}
