/*Quita el espacio entre cada elemento seccion*/
header,
footer,
section {
    overflow: auto;
}
/*Estilo para la imagen del logo*/
#imagenLogo img{
    padding: 5px 5px; /*Arriba, abajo - Izquierda, Derecha*/
}
header > .container > .row{
    margin-top: 1%;
    margin-bottom: 0%;
}
/*--Inicio pagina Principal--*/
/*(Principal) Tarjetas de ofertas*/
.renglon1 >.col > .card-panel{
    height: 250px;
    overflow: hidden;
}

.renglon1 >.col > .card-panel::after{
  content: "";
  display: block;
  border-radius: 100% 70%;
  width: 350px;
  height: 70px;
  background-color: #1fb8df;
  top: 27px;
}
.renglon1>.col> .card-panel>p::after{
    background-image: url("../img/woman-dentist.png");
}
/*(Principal) Caurusel de tarjetas (anchura)*/
.carousel-casos {
    max-height: 400px;
}
/*Corrige anchura del carousel de los casos*/
.carousel.carousel-casos{ 
    height: 400px !important; 
}
.carousel.carousel-casos .carousel-item p{
    text-overflow: ellipsis !important;
}
/*Posicion del boton en el csrousel*/
.carousel.carousel-casos .carousel-fixed-item{
    bottom: 60px;
}
/*(Principal) Anchura del panel de tarjetas de testimonios*/
.card-panel{
    height: 176px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
}
.card-panel img{
    width: auto;
    height: 100px;
    image-rendering: -webkit-optimize-contrast;
}
/*Comportamiento en vista movil (Principal)*/
@media only screen and (max-width: 601px) {
    /*Ajust on Principal page*/
    .renglon3{
        display: flex;  
        flex-direction: column;
    }
    .col1{
        order: 2;
    }
    .col2{
        order: 1;
    }

}
/*Inicio del Header*/
/*Inicio Menu de navegacion*/
  #boton-registro:hover{
    color:rgba(0, 89, 255, 0.918);
  }
  /*line default focus tipyng on text*/
  input:focus {
  border-bottom: 1px solid rgba(33, 149, 243, 0.4) !important;
  box-shadow: 0 1px 0 0 rgba(33, 149, 243,0.4) !important;
}
/*---textAreas---*/
/* Inactive/Active Default input field color */
.input-field textarea:not([readonly]),
.input-field textarea:focus:not([readonly]) {
  border-bottom: 1px solid rgba(33, 149, 243, 0.4);
  box-shadow: 0 1px 0 0 rgba(33, 149, 243,0.4);
}
/* Inactive/Active Default input label color */
.input-field textarea:focus:not([readonly])+label {
    color:rgba(0, 89, 255, 0.918) !important;
}
/*---Option selection---*/
ul.dropdown-content.select-dropdown li span {
    color:rgba(0, 89, 255, 0.918); /* no need for !important :) */
}
/*---input-fields---*/
/* label focus color */
.input-field input[type=text]:focus+label {
    color:rgba(0, 89, 255, 0.918) !important;
}
.input-field input[type=password]:focus+label {
    color:rgba(0, 89, 255, 0.918) !important;
}
.input-field input[type=email]:focus+label {
    color:rgba(0, 89, 255, 0.918) !important;
}
.input-field input[type=tel]:focus+label { /*---input phone---*/
    color:rgba(0, 89, 255, 0.918) !important;
}
i.material-icons.prefix.active{
    color:rgba(0, 89, 255, 0.918);
}
/*Succes input correct line color*/
.input-field input[type].valid,
.input-field input[type].valid:focus {
    border-bottom: 1px solid rgba(33, 149, 243) !important;
    box-shadow: 0 1px 0 0 rgba(33, 149, 243) !important;
}
 /*Succes input correct label form color*/    
input[type=text]:not(.browser-default).valid+label:after,
input[type=text]:not(.browser-default):focus.valid+label:after, 
input[type=password]:not(.browser-default).valid+label:after, 
input[type=password]:not(.browser-default):focus.valid+label:after, 
input[type=email]:not(.browser-default).valid+label:after, 
input[type=email]:not(.browser-default):focus.valid+label:after, 
input[type=url]:not(.browser-default).valid+label:after, 
input[type=url]:not(.browser-default):focus.valid+label:after, 
input[type=time]:not(.browser-default).valid+label:after, 
input[type=time]:not(.browser-default):focus.valid+label:after, 
input[type=date]:not(.browser-default).valid+label:after, 
input[type=date]:not(.browser-default):focus.valid+label:after,
input[type=datetime]:not(.browser-default).valid+label:after, 
input[type=datetime]:not(.browser-default):focus.valid+label:after, 
input[type=datetime-local]:not(.browser-default).valid+label:after, 
input[type=datetime-local]:not(.browser-default):focus.valid+label:after, 
input[type=tel]:not(.browser-default).valid+label:after,
input[type=tel]:not(.browser-default):focus.valid+label:after,
input[type=number]:not(.browser-default).valid+label:after,
input[type=number]:not(.browser-default):focus.valid+label:after,
input[type=search]:not(.browser-default).valid+label:after,
input[type=search]:not(.browser-default):focus.valid+label:after,
textarea.materialize-textarea.valid+label:after,
textarea.materialize-textarea:focus.valid+label:after,
.select-wrapper.valid+label:after{
    color: rgba(33, 149, 243);
}
/*---Date picker and Clock picker---*/
/*clock picker background color*/
.picker__date-display{
    background-color: rgba(0, 89, 255, 0.918);
}
.clockpicker-tick:hover { /*color numbers on hover*/
    background: rgba(33, 149, 243,0.4) !important; 
    color: azure;
}
.clockpicker-canvas line { /*line selector color*/
    stroke: rgba(0, 89, 255, 0.918) !important; 
}
.clockpicker-canvas-bearing { 
    fill: rgba(0, 89, 255, 0.918) !important; 
}
.clockpicker-canvas-bg { 
    fill: rgba(0, 89, 255, 0.918) !important; 
}
/*--DATE PICKER OPTIONS*/
.picker__day--infocus.picker__day--selected{
    background-color: rgba(66, 133, 244, 0.79);
} 
.picker__day--selected:hover{
    background-color: rgba(33, 149, 243,0.4);
} 
button.picker__today, button.picker__close {
        color: rgba(66, 133, 244, 0.79);
}
/*Fin menu navegacion*/
/*Fin del Header*/
/*Inicio Cuerpo*/
/*Inicio Titulo de las secciones*/
.seccion-titulo{
    padding: 1% !important;
    border-radius: 10px;
}
.seccion-titulo h4{
    font-family: Josefin,sans-serif;;
    font-size: 26px;
    font-weight: bold;
    padding: 1%;
    margin: 0%;
}
.seccion-titulo span{
    font-family: Tauri, sans-serif;;
    font-size: 20px;
    padding: 1%;
    margin: 0%;
}

/*Fin Titulo de las secciones*/

/*Fin del Cuerpo*/
/*Inicio de los Estilos para el Login*/
#formulario-login .input-field, p{
    margin: 0%;
}
#formulario-login .row{
    margin: 5%;
}
#formulario-login .row span{
    left: 10px;
}
[type="checkbox"]:checked+span:not(.lever):before {
    border-right: 2px solid  rgba(0, 89, 255, 0.918);
    border-bottom: 2px solid rgba(0, 89, 255, 0.918);
}
/*Fin para los estilos del login*/
/*Caracteristicas de los estilos del Modal GLobal*/
.modal{
    border-radius: 1%;
}
/*Fin de las caracteristicas del modal*/

/*Incio de las caracteristicas del boton flotante del chat*/
@media only screen and (max-width: 601px) {  /*NOT WORKS ON PLUGIN THIS*/
    .mylivechat_buttonround {
        position: relative !important;
        top:0px !important;
        bottom: 100px !important;
        
        background-color: rgb(224, 20, 20) !important;
    }


}
/*Fin de las caracteristicas del boton flotante del chat*/

/*ESTILOS para el formulario dezplegable*/
.login_box {
    display: none;
    position: relative;
    background: white;
    border-radius: 6px;
    width: 300px;
    float: right;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 10px;
    margin-top: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
.login_box:after, .login_box:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.login_box:after {
	border-color: rgba(249, 249, 249, 0);
	border-bottom-color: white;
	border-width: 17px;
	margin-left: 80px;
}

/*Size of font*/
.contrasenia-olvidada{
    font-size: 80%;
}
.contrasenia-olvidada a:hover{
        text-decoration: underline;
}

.error {
    color: red;
    font-size: 0.4rem;
}
/*Manejo de error en los inputs dinámicos de las validaciones ajax*/
.error-input{
    font-size: 12px;
    content: attr(data-error);
    color: #F44336;
    opacity: 1;
    margin-bottom: 0px !important;
}
form p{
    margin-bottom: 10px;
}
#hora.timepicker{
    margin-bottom:0;
}
/*margenenes entre los inputs y labels del formulario*/
#email-2{
    margin-bottom: 20px;
}
#telefonos{
    margin-bottom: 20px;
}
 /*Corrige los margenes de los mensajes de error en los inputs de telefono y email*/
#email-2.validate.invalid{
    margin-bottom: 2px !important;
}
#telefonos.validate.invalid{
    margin-bottom: 2px !important;
}
/*ajuste del margen vertical del la tarjeta*/
.card-panel .valign-wrapper{
    margin-top: 10px;
}
/*contenedor de la imagen movible*/
.image-testimonial-container{
    position:relative; 
    z-index:3; 
    bottom: 45px;
    right: 35px !important;
}
/*imagen de testimonio*/
.image-testimonial-container img{
    position:absolute; 
    z-index:4;
}
/*contenedor de la imagen sgv movible*/
.blob-container{
    position:relative; 
    z-index:1; 
    bottom: 25px;
    right: 40px;
}
/*imagen de fondo sgv*/
.blob-container img{
    position:absolute; 
    z-index:2;
    height: 150px;
}
/*search-box*/
.search-box{
    right: 50px;
    margin-top: 10px;
}
.search-box nav{
    height: 44px;
}
.input-field #search{
    margin-bottom: 0px;
}
/*align middle icons in searchbox */
.search-box .material-icons:nth-child(1){
    margin-top: -10px;
}
.search-box .close{
    margin-top: -10px !important;
    font-size: 1.5rem;
}
.search-box nav{
    border-radius: 20px;
    background-color: #72a8e6;
}
.input-field #search{
    border-radius: 20px;
}