/*Quita el espacio entre cada elemento seccion*/
/*--Inicio pagina Principal--*/
/*(Principal) Tarjetas de ofertas*/
.renglon1 >.col > .card-panel{
    height: 250px;
    overflow: hidden;
    position: relative;
}
.waves{
    position: absolute;
    overflow: hidden;
    left: 0px;
    top: 187px;
}
.renglon1>.col> .card-panel>p::after{
    background-image: url('../img/woman-dentist.png');
}
/*(Principal) Caurusel de tarjetas (anchura)*/
.carousel-casos {
    max-height: 400px;
}
/*Corrige anchura del carousel de los casos*/
.carousel.carousel-casos{ 
    height: 400px !important; 
}
.carousel.carousel-casos .carousel-item p{
    text-overflow: ellipsis !important;
}
/*Posicion del boton en el carousel*/
.carousel.carousel-casos .carousel-fixed-item{
    bottom: 60px;
}
@media only screen and (max-width: 601px) {
    /*Casos en la seccion del slider movil*/
    .carousel.carousel-casos {
        height: 300px !important;
    }
    .image-testimonial-container{
        width: 37% !important;
    }
}
/*(Principal) Anchura del panel de tarjetas de testimonios*/
.card-panel{
    height: 176px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
}
.card-panel img{
    width: auto;
    height: 100px;
    image-rendering: -webkit-optimize-contrast;
}
/*Comportamiento en vista movil (Principal)*/
@media only screen and (max-width: 601px) {
    .renglon3{
        display: flex;  
        flex-direction: column;
    }
    .col1{
        order: 2;
    }
    .col2{
        order: 1;
    }
}
/*Inicio del Header*/
/*Inicio Menu de navegacion*/
  #boton-registro:hover{
    color:rgba(0, 89, 255, 0.918);
    font-weight: bold;
  }
  /*line default focus tipyng on text*/
  input:focus {
  border-bottom: 1px solid rgba(33, 149, 243, 0.4) !important;
  box-shadow: 0 1px 0 0 rgba(33, 149, 243,0.4) !important;
}
/*---textAreas---*/
/* Inactive/Active Default input field color */
.input-field textarea:not([readonly]),
.input-field textarea:focus:not([readonly]) {
  border-bottom: 1px solid rgba(33, 149, 243, 0.4);
  box-shadow: 0 1px 0 0 rgba(33, 149, 243,0.4);
}
/* Inactive/Active Default input label color */
.input-field textarea:focus:not([readonly])+label {
    color:rgba(0, 89, 255, 0.918) !important;
}
/*---Option selection---*/
ul.dropdown-content.select-dropdown li span {
    color:rgba(0, 89, 255, 0.918); /* no need for !important :) */
}
/*---input-fields---*/
/* label focus color */
.input-field input[type=text]:focus+label {
    color:rgba(0, 89, 255, 0.918) !important;
}
.input-field input[type=password]:focus+label {
    color:rgba(0, 89, 255, 0.918) !important;
}
.input-field input[type=email]:focus+label {
    color:rgba(0, 89, 255, 0.918) !important;
}
.input-field input[type=tel]:focus+label { /*---input phone---*/
    color:rgba(0, 89, 255, 0.918) !important;
}
i.material-icons.prefix.active{
    color:rgba(0, 89, 255, 0.918);
}
/*Succes input correct line color*/
.input-field input[type].valid,
.input-field input[type].valid:focus {
    border-bottom: 1px solid rgba(33, 149, 243) !important;
    box-shadow: 0 1px 0 0 rgba(33, 149, 243) !important;
}
 /*Succes input correct label form color*/    
input[type=text]:not(.browser-default).valid+label:after,
input[type=text]:not(.browser-default):focus.valid+label:after, 
input[type=password]:not(.browser-default).valid+label:after, 
input[type=password]:not(.browser-default):focus.valid+label:after, 
input[type=email]:not(.browser-default).valid+label:after, 
input[type=email]:not(.browser-default):focus.valid+label:after, 
input[type=url]:not(.browser-default).valid+label:after, 
input[type=url]:not(.browser-default):focus.valid+label:after, 
input[type=time]:not(.browser-default).valid+label:after, 
input[type=time]:not(.browser-default):focus.valid+label:after, 
input[type=date]:not(.browser-default).valid+label:after, 
input[type=date]:not(.browser-default):focus.valid+label:after,
input[type=datetime]:not(.browser-default).valid+label:after, 
input[type=datetime]:not(.browser-default):focus.valid+label:after, 
input[type=datetime-local]:not(.browser-default).valid+label:after, 
input[type=datetime-local]:not(.browser-default):focus.valid+label:after, 
input[type=tel]:not(.browser-default).valid+label:after,
input[type=tel]:not(.browser-default):focus.valid+label:after,
input[type=number]:not(.browser-default).valid+label:after,
input[type=number]:not(.browser-default):focus.valid+label:after,
input[type=search]:not(.browser-default).valid+label:after,
input[type=search]:not(.browser-default):focus.valid+label:after,
textarea.materialize-textarea.valid+label:after,
textarea.materialize-textarea:focus.valid+label:after,
.select-wrapper.valid+label:after{
    color: rgba(33, 149, 243);
}
/*Fin menu navegacion*/
/*Fin del Header*/
/*Inicio Cuerpo*/
/*Inicio Titulo de las secciones*/
.encabezado-seccion{
    margin: 0px auto 25px auto;
}
.encabezado-seccion .underline{
    width: 60px;
    height: 3px;
    margin: 10px auto;
    background-color: #1fb8df;
}
/*Fin Titulo de las secciones*/

/*Fin del Cuerpo*/
/*Inicio de los Estilos para el Login*/
#formulario-login .input-field, p{
    margin: 0%;
}
#formulario-login .row{
    margin: 5%;
}
#formulario-login .row span{
    left: 10px;
}
[type="checkbox"]:checked+span:not(.lever):before {
    border-right: 2px solid  rgba(0, 89, 255, 0.918);
    border-bottom: 2px solid rgba(0, 89, 255, 0.918);
}
/*Fin para los estilos del login*/

/*ESTILOS para el formulario dezplegable*/
.login_box {
    display: none;
    position: relative;
    background: white;
    border-radius: 6px;
    width: 300px;
    float: right;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 10px;
    margin-top: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
.login_box:after, .login_box:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.login_box:after {
	border-color: rgba(249, 249, 249, 0);
	border-bottom-color: white;
	border-width: 17px;
	margin-left: 80px;
}

/*Size of font*/
.contrasenia-olvidada{
    font-size: 80%;
}
.contrasenia-olvidada a:hover{
        text-decoration: underline;
}

.error {
    color: red;
    font-size: 0.4rem;
}
/*Manejo de error en los inputs dinámicos de las validaciones ajax*/
.error-input{
    font-size: 12px;
    content: attr(data-error);
    color: #F44336;
    opacity: 1;
    margin-bottom: 0px !important;
}
form p{
    margin-bottom: 10px;
}
#hora.timepicker{
    margin-bottom:0;
}
/*margenenes entre los inputs y labels del formulario*/
#email-2{
    margin-bottom: 20px;
}
#telefonos{
    margin-bottom: 20px;
}
 /*Corrige los margenes de los mensajes de error en los inputs de telefono y email*/
#email-2.validate.invalid{
    margin-bottom: 2px !important;
}
#telefonos.validate.invalid{
    margin-bottom: 2px !important;
}
/*ajuste del margen vertical del la tarjeta*/
.card-panel .valign-wrapper{
    margin-top: 10px;
}
/*contenedor de la imagen movible*/
.image-testimonial-container{
    position:relative; 
    z-index:3; 
    bottom: 45px;
    right: 35px !important;
}
/*imagen de testimonio*/
.image-testimonial-container img{
    position:absolute; 
    z-index:4;
}
/*contenedor de la imagen svg mobil*/
.blob-container{
    position:relative; 
    z-index:1; 
    bottom: 25px;
    right: 40px;
}
/*imagen de fondo sgv*/
.blob-container img{
    position:absolute; 
    z-index:2;
    height: 150px;
}
.promo {
    background: linear-gradient(rgba(5, 4, 4, 0.69), rgba(5, 4, 4, 0.74)), url('../img/dentist-and-patient_4460x4460.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: #eeeeee;
}
/*Seccion Ventajas*/
.section-ventajas{
    z-index: 1;   
}
.background-section{
    position: relative;
}
.background-section:after{
  z-index: 0;
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../img/blob_19-8-8637.svg");
  height: 350px;
  width: 350px; 
   transform: scale(4, 4);
}
/*Background texto Ventajas*/
.renglon2 .col:nth-child(1){
  z-index: 1;
}
.background-col{
  position: relative;
}
.background-col::after{
  z-index: 0;
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../img/blob_10-8-1018.svg");
  height: 350px;
  width: 350px;
  top: -150px;
  right: 125px;
  transform: scale(1.5, 1);
}
/* Pantallas grandes 1200px hacia rriba */
@media only screen and (min-width: 1200px) {
    .waves{
        top: 77%;
    }
}